<h1>Bienvenido a la Página de Usuarios</h1>

<p>Hola: <%= current_user.name %></p>
<p>Correo: <%= current_user.email %></p>
<p>Usuario: <%= current_user.user %></p>

  <% if @url %>
      <% if @url.errors %>
          <div style="color:red"><%= @url.errors.full_messages %></div>
      <% end %>
    <% end %>

    <br>

     <form method="post" action="/urls" >
      Ingresa la URL:
      <br><br>
      <input class="url" type="text" name="long_url" >

      <br><br><br>

      <div class="boton">Enviar</div>
    </form>

<br><br>

   <p>Urls Generadas: </p>

    <% @urls.each do |url|%>
<p> <%= "#{url.long_url}" %> <a href='/<%="#{url.short_url}"%>'> <%= url.ini_uri + "#{url.short_url}" %> </a> <br> Vistas: <%= "#{url.visits}" %> </p> 
    <% end %>


<a href="/destruir">Terminar sesion</button>
